.jumbo-header {
  text-align:center;
  max-height: 100px;
}
.headshot a, li, p {
  color:#5d5d5d;
  font-weight: lighter;
}

.headshot h4 {
  margin-top: 15px;
  margin-bottom: 10px;
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
  color:#5d5d5d;
}

.about-me {
  padding: 0px 7% 0px 7%;
}
.about-me h3 {
  text-align:right;
  color:#5d5d5d;
  font-weight: lighter;
}

.job-titles {
  font-weight:normal;
}

.career {
  padding: 0px 7% 0px 7%;
}
.career h3 {
  text-align:right;
  color:#5d5d5d;
  font-weight: lighter;
}
ul {
  margin:7%;
  padding:0;
  text-align: left;
}