.container {
  border:1px solid #dfdfdf;
  border-top: 0px;
  background-color: #fcfcfc;
  box-shadow: 0 5px 15px rgb(0 0 0 / 55%);
}
.jumbotron {
  background-color: #d1ecf1;
  border-color: #bee5eb;
}
.jumbo-header {
  text-align: center;
  max-height: 100px;
}
a, li, p, h3 {
  color: #5d5d5d;
  font-weight: lighter;
}
ul {
  margin-bottom: 3%;
  padding: 2%;
  padding-left:7%;
  text-align: left;
}

#headshot-img {
  float: left;
  width: 30%;
  margin-right: 5%;
}

.job-titles {
  font-weight: normal;
}


#career, #about-me, #projects-main,#links-card {
  padding: 2% 4% 2% 4%;
  margin-bottom: 15px;
}
#career h3 {
  text-align: right;
  color: #5d5d5d;
  font-weight: lighter;
}
#career h6 {
  color: #5d5d5d;
  text-align: left;
}

#links-card button {
  background-color: #304483;
  margin: 5px;
  box-shadow: 0 5px 15px rgb(0 0 0 / 5%);
}

#links-card button:hover {
  background-color: #0062cc;
  box-shadow: 0 5px 15px rgb(0 0 0 / 10%);
}
#links-card a:hover {
  text-decoration: none;
}
.projects-card {
  margin-top: 25px;
  padding: 5% 4% 2% 4%;
  background-color: #fcfcfc;
  min-height: 350px;
  text-align: left;
  font-size: 11pt;
  box-shadow: 0 5px 15px rgb(0 0 0 / 5%);
}
.projects-card ul {
  margin-top:0;
  padding-top:0;
  padding-left: 15px;
  font-size: 11pt;
}
.projects-card h5, h6 {
  text-align: center;
}
.projects-card:hover {
  box-shadow: 0 5px 15px rgb(0 0 0 / 10%);
  text-decoration: none;
}
.project-div-link:hover {
  text-decoration: none;
  color:black;
}
.projects-card hr {
  margin-top:0;
  margin-bottom: 10px;
}

#projects-forward {
  text-align: center;
  padding: 2% 0% 1% 0%;  
}